.user-body{
    margin-top: 2rem;
    
    display: flex;
    flex-wrap:wrap ;
    
}
.Bk-card{
    margin-left: 1rem;
    flex:0 0  23.33%;
    margin-top: 1rem;
    text-align: center;
}
@media (max-width:768px) {
    .Bk-card{
        flex:0 0  43.33%;  
    }
}