.tablecontainer{
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    box-sizing: border-box;
    overflow-x: auto;
    max-height: 41rem;
    box-sizing: border-box;
    filter: drop-shadow(8px 5px 5px #626262);
}
.tablecontainer::-webkit-scrollbar{
    display: none;
}


.theader{
    display: flex;
    justify-content: left;
    text-align: center;
    color: #282828;
    font-weight: 700;
   }
 .cardbt{
    /* background-image: url('https://www.shutterstock.com/image-illustration/bookshelves-library-old-books-3d-260nw-1530516716.jpg'); */
    background: rgba(255, 255, 255, 0.2);

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:'auto';
    width:'100%';
    
   
    
 }
 .search-form{
    margin-top:1rem;
    display: contents;
    justify-content: flex-end;
    max-width: 75rem;
    
 }
 .search{
    width:15rem;
    /* margin-left:61.5rem ; */
    filter: drop-shadow(8px 5px 5px #846C4F);
    
 }
.showbook{
    display: flex;
    height: 100%;

}
table {
    border: none;
    /* max-width: 65rem; */
   width: auto;    
    /* border-spacing: 0;
    border-collapse: collapse; */
    border-radius: 10px;
    border:none;
    text-align: center;

background:#d7d7d7;
} 
tr:nth-child(even){background-color: #e5e5e5}


th{
    background-color: #e5e5e5;
    color: #0a0a0a;
    border-top: none;
    
    
}
td{
    color: #0a0a0a;
   border-left: 1px solid #212121;
   

   
   /* border-top: 1px solid #a05e7f; */
}
.table-icon{
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.table-icon:hover{
    color: #e01c1c;
    font-size: 1.9rem;
    transition: 0.5s;
}

@media (max-width:768px) {
   
    .cardbt{
        /* width: 100%; */
        background-color: rgb(220, 245, 227);
    }
   

    .showbook{
        width: 100%;
        /* height:; */
        position: fixed;
    }
   .scard{
     height: auto;
   } 
   .tablecontainer{
    /* background-color: aqua; */
    max-height: 25rem;
    margin-top: 1px;
    /* overflow-x: scroll ; */
    padding-left: 5rem ;

   }
   table{
    /* max-height:25rem ;
    max-width: 15rem; */
    
   }
 
}

@media (max-width:575.98px) {
    .tablecontainer{
        /* background-color: aqua; */
        
        overflow-x: scroll ;
        overflow-y: inherit;
     
        padding-left: 5rem ;
    
       
    
       }
       table,th,td{
        /* background-color: black; */
        max-width: 6rem;
        overflow-y: scroll;
    ;
        
       }
       th,td{
        
    margin-bottom: 10px;
       }
      
}
@media (max-width:500px) {
    
    table,th,td{
      
        max-width: 6rem;
        max-height: 3rem;
        overflow-y: scroll;
       }
       
}
@media (max-width:425px) {
    
    table,th,td{
    
        max-width: 4.3rem;
        max-height: 5rem;
        
        overflow-y: scroll;
       }
       
}